body {
    font-family: Verdana, sans-serif;
    font-size: 13px;
    width: 1000px;
    margin: 0 auto;
}



/* HEADER */


/* el width del header seria 1000px y entre el logo 500px de separacion, pero para cuadrar los tamaños se ha adaptado
a otra resolución. El resultado sería lo mismo, solo habria que cambiar los tamaños en el resto de elementos */

.texto {
    background-color: rgb(65, 2, 65);
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    position: relative;
}

h1 {
    margin-left: 120px; /* separo titulo del logo */
}

p {
    font-size: 14px; 
    margin-left: 120px;
}

.logo {
    position: absolute; /* para que se quede fijo en la esquina superior izquierda */
    top: 0;
    max-height: 136px;
    left: 0;
}



/* MENU */

.menu {
    color: white;
    height: 50px; /* aqui si se ha podido poner los pixeles requeridos ya que cuadraba */
}

.menu ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin-top: 0.0;;
}

.menu li {
    background-color: rgb(152, 91, 152);
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 12px; /* para que el texto no solape los bordes */
}

.menu li:not(:last-child) {
    border-right: 2px solid white; /* para añadir las dichosas lineas blancas */
}





/* IMAGENES */

.img-pattern {
    background-image: url("img/pattern.jpg");
    /* background-size: auto; */
    background-color: #dcc89c;  
    padding: 70px;
    max-width: 1000px;  /* para que cuadre con el tamaño definido en el body */ 
    max-height: 100px; /* misma altura estipulada en el ejercicio */
    border-top: 1px dashed black; 
}

.img-fotoFrontal img {
    width: 100%;
    max-height: 300px; /* misma altura estipulada en el ejercicio */
    object-fit: cover; /* para que no se vea toda la imagen */
    overflow: hidden;
    border-top: 1px dashed black; /* para que las lineas solo esten por arriba y abajo */
    border-bottom: 1px dashed black; 
}





/* TABLA */

main {
    display: flex;
    justify-content: center;
    background-color: rgb(225, 220, 220);
    padding: 20px;
    margin-top: -5px; /* evitar espacios blancos entre la imagen y esta seccion */
}

caption {
    text-decoration: underline; /* para subrayar el titulo de la tabla */
    margin-bottom: 20px;
    font-size: 25px;
}

.tabla {
    width: 450px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.tabla th, .tabla td {
    text-align: center;
    padding: 10px;
}

.tabla th {
    background-color: rgb(112, 44, 112);
    color: black;
    font-size: 22px;
    border-bottom: 4px solid black;
}

.tabla tr:nth-child(even) td {
    background-color: gray;
}

.tabla tr:nth-child(odd) td {
    background-color: white;
}




/* IMAGENES LENGUAJES, PREFOOTER  */

table img {
    width: 241px; 
    height: 300px; 
}

.lenguajes img {
    opacity: 0.5; /* para hacer transparente */
}

.linea-vertical {
    border-left: 1px solid black;
    opacity: 0.5;
}

.lenguajes td:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.5); /* para que la transparencia no afecte a la imagen y el texto, poniendo opacity si pasaba */
}

.lenguajes td:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.texto-lenguaje {
    text-align: center; 
    color: black; 
    font-weight: bold; 
}

#languages {
    border-top: 1px dashed black; 
    border-bottom: 1px dashed black; 
}




/* FOOTER */

.marca {
    font-size: 14px;
    color: white;
    margin-left: 8px;
}

.footer-texto {
    font-size: 14px;
    color: white;
    position: absolute; /* para que se quede fijo en la esquina inferior derecha, tanto con esto como botton y right*/
    bottom: 7px;
    right: 0;
    margin-right: 10px;
}

footer {
    /* resoluciones cumplidas aqui con el enunciado */
    height: 100px;
    width: 1000px;
    background-color: rgb(65, 2, 65);
    position: relative;
}
